.color-white {
	color: #FFF;
}

.color-peterriver {
	color: #1abc9c;
}

.color-belizehole {
	color: #2980b9;
}
.color-midnightblue {
	color: #2c3e50;
}

.bg-faded {
	background-color: rgba(202,215,234,0.3);
}